@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes stars {
  0%, 20%, 40%, 60%, 80%, 100% {
    opacity: 0.8;
  }
  10%, 30%, 50%, 70%, 90% {
    opacity: 1;
  }
}

@keyframes stars {
  0%, 20%, 40%, 60%, 80%, 100% {
    opacity: 0.8;
  }
  10%, 30%, 50%, 70%, 90% {
    opacity: 1;
  }
}
@-webkit-keyframes big-stars {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes big-stars {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes move-stars {
  0% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
@keyframes move-stars {
  0% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
.heading__primary {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.heading__primary--white {
  color: #fff;
}
.heading__primary--black {
  color: #464547;
  text-align: left;
  max-width: 600px;
}
.heading__secondary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-top: 40px;
}
.heading__secondary--white {
  color: rgba(255, 255, 255, 0.7);
}
.heading__secondary--black {
  color: #666;
  text-align: left;
}

.paragraph {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  flex: 0 1 46%;
}

.btn {
  border: none;
  background-color: #55C2D8;
  outline: none;
  cursor: pointer;
}
.btn__more {
  max-width: 115px;
  margin-top: 40px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 5px 18px;
  border-radius: 20px;
  transition: transform 1s ease;
  transform-origin: left;
}
.btn__more:hover {
  transform-origin: left;
  transform: rotateZ(15deg);
}
.btn__play {
  margin-top: 85px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  font-size: 52px;
  padding: 20px 35px;
  transition: all 0.5s ease-in;
}
.btn__play:hover {
  color: #55C2D8;
  background-color: #fff;
  transform: scale(0.95);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 802px;
  color: #fff;
  background: url("../assets/bg-header.jpg") 100% no-repeat;
  background-color: #0b0b67;
  padding: 20px;
  position: relative;
}
.header__star {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.header__star--1 {
  position: absolute;
  top: 23px;
  left: -37px;
  height: 100%;
  background: url(../assets/stars.png) top right no-repeat;
  transform: translate(-10px, -10px);
  -webkit-animation: stars 8s ease infinite, move-stars 8s ease-out infinite;
          animation: stars 8s ease infinite, move-stars 8s ease-out infinite;
}
.header__star--2 {
  position: absolute;
  top: 2px;
  left: 0px;
  background: url(../assets/stars-3.png) 100% no-repeat;
  background-size: 448px 670px;
  -webkit-animation: big-stars 8s ease-in-out infinite;
          animation: big-stars 8s ease-in-out infinite;
}
.header__middle {
  max-width: 426px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.header__logo {
  margin-bottom: 13px;
}
.header__logo img {
  transition: all 1s linear;
}
.header__logo img:hover {
  transform: rotate3d(0, 1, 0, 180deg) scale3d(1.3, 1.3, 1.3);
  /* animation: rotateLogo 1.6s ease-out; */
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.header__icon {
  width: 35%;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.header__icon a {
  color: #fff;
  text-transform: uppercase;
}
.header__nav {
  width: 65%;
}
.header__nav ul {
  display: none;
  /* justify-content: space-between; */
}

.header__icon,
.footer__icon,
.address {
  font-family: "Source Sans Pro", sans-serif;
}

.nav__toggle {
  position: absolute;
  /* border: 1px solid #fff; */
  border-radius: 3px;
  padding: 0;
  top: 40px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger {
  display: block;
  width: 22px;
  height: 3px;
  background: #fff;
  position: relative;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 22px;
  height: 3px;
  background: #fff;
  margin: 2px 0;
  position: absolute;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  top: -10px;
}

.header__nav ul li {
  margin-right: 30px;
}

.header__nav li a {
  color: #fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 2px solid transparent;
}

.header__nav li a:hover {
  border-bottom: 2px solid #fff;
}

.section__second {
  background-color: #eee;
}
.section__second .container {
  display: flex;
  flex-direction: column;
  padding: 65px 10px 95px 27px;
  text-align: left;
}
.section__third .container {
  padding: 80px 40px;
  text-align: center;
}
.section__third {
  background-image: linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)), url("../assets/learn_more.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(140, 79, 42, 0.3);
}

/* Medium screen devices (768px and above) */
.text__box {
  display: block;
}

footer {
  background-color: #464547;
}

footer .container {
  padding: 56px 75px 75px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: flex-start;
}

.footer__logo img {
  display: inline-block;
  margin-right: 16px;
}

.footer__icon {
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.footer__logo span {
  display: inline-block;
  margin-right: 16px;
}

.address {
  font-size: 16px;
  grid-column: 3/4;
  margin-top: 30px;
  text-align: center;
}

.address, .mail, .copy {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  line-height: 19px;
}

.mail {
  display: block;
  margin-top: 18px;
}

.copy__box {
  display: flex;
  justify-content: center;
  grid-column: 6/8;
  margin-top: 19px;
}

@media (min-width: 768px) {
  .heading__primary--black {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .heading__secondary--black {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .heading__secondary--white--360 {
    width: 370px;
  }
}
@media (min-width: 768px) {
  .paragraph {
    margin-top: 48px;
  }
}
@media (min-width: 768px) {
  .btn__more {
    margin-top: 51px;
  }
}
@media (min-width: 768px) {
  .btn__play {
    margin-top: 53px;
    width: 150px;
    height: 150px;
    font-size: 72px;
    padding: 35px 50px;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 1560px 1041px;
  }
  .header__star--1 {
    position: absolute;
    top: -89px;
    left: -41px;
    background: url("../assets/stars.png") 0 0 no-repeat;
    background-size: 939px 819px;
    background-position: right top;
    transform: translate(-70px, 10px);
    transition: transform 5s ease-in;
    -webkit-animation: stars 8s ease infinite, move-stars 8s ease-in-out infinite;
    animation: stars 8s ease infinite, move-stars 8s ease-in-out infinite;
  }
  .header__star--2 {
    position: absolute;
    top: 0;
    left: -1px;
    background: url(../assets/stars-3.png) 0 0 no-repeat;
    background-position: right;
    background-size: 575px 869px;
    -webkit-animation: big-stars 8s ease-in-out infinite;
    animation: big-stars 8s ease-in-out infinite;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes move-stars {
    0% {
      transform: translate(-50px, 10px);
    }
    60% {
      transform: translate(-4px, 0);
    }
    100% {
      transform: translate(-50px, 10px);
    }
  }
  @keyframes move-stars {
    0% {
      transform: translate(-50px, 10px);
    }
    60% {
      transform: translate(-4px, 0);
    }
    100% {
      transform: translate(-50px, 10px);
    }
  }
  @-webkit-keyframes big-stars {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes big-stars {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (min-width: 768px) {
  .header__top {
    margin-top: 50px;
  }
}
/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
  .header__nav ul {
    display: flex;
  }
  .nav__toggle {
    display: none;
  }
}
/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
  .section__second .container {
    align-items: center;
    text-align: center;
    padding: 65px 20px 95px 20px;
  }
  .section__third {
    height: 637px;
  }
  .section__third .heading__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .text__box {
    display: flex;
    justify-content: space-between;
  }
}
/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
  footer .container {
    padding: 37px 20px;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .address {
    margin-top: 0;
    text-align: left;
  }
  .mail {
    margin-top: 27px;
  }
  .copy__box {
    margin-top: 0;
    align-self: flex-end;
  }
}
/*# sourceMappingURL=styles.css.map *//*# sourceMappingURL=styles.css.map */