footer {
    background-color: #464547;
}

footer .container {
    padding: 56px 75px 75px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: flex-start;
}

.footer__logo img {
    display: inline-block;
    margin-right: 16px;
}

.footer__icon {
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.footer__logo span {
    display: inline-block;
    margin-right: 16px;
}

.address {
    font-size: 16px;
    grid-column: 3 / 4;
    margin-top: 30px;
    text-align: center;
}


.address, .mail, .copy {
    color: rgba(255, 255, 255, .4);
    font-weight: 400;
    line-height: 19px;
}

.mail {
    display: block;
    margin-top: 18px;
}

.copy__box {
    display: flex;
    justify-content: center;
    grid-column: 6 / 8;
    margin-top: 19px;
}