.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 802px;
    color: $color-white;
    background: url('../assets/bg-header.jpg') 100% no-repeat;
    background-color: $color-bg-header;
    padding: 20px;
    position: relative;

    &__star {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &__star--1 {
        position: absolute;
        top: 23px;
        left: -37px;
        height: 100%;
        background: url(../assets/stars.png) top right no-repeat;
        transform: translate(-10px, -10px);
        animation: stars 8s ease infinite, move-stars 8s ease-out infinite;
    }

    &__star--2 {
        position: absolute;
        top: 2px;
        left: 0px;
        background: url(../assets/stars-3.png) 100% no-repeat;
        background-size: 448px 670px;
        animation: big-stars 8s ease-in-out infinite;
    }
    
    &__middle {
        max-width: 426px;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &__logo {
        margin-bottom: 13px;
    }
    
    &__logo img {
        transition: all 1s linear;
    }
    
    &__logo img:hover {
        transform: rotate3d(0, 1, 0, 180deg) scale3d(1.3, 1.3, 1.3);
        /* animation: rotateLogo 1.6s ease-out; */
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    &__icon {
        width: 35%;
        font-size: 20px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.1em;
    }
    
    &__icon a {
        color: #fff;
        text-transform: uppercase;
    }
    
    &__nav {
        width: 65%;
    }
    
    &__nav ul {
        display: none;
        /* justify-content: space-between; */
    }    
}

.header__icon,
.footer__icon,
.address {
    font-family: $font-paragraph;
}

.nav__toggle {
    position: absolute;
    /* border: 1px solid #fff; */
    border-radius: 3px;
    padding: 0;
    top: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 22px;
    height: 3px;
    background: $color-white;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 22px;
    height: 3px;
    background: $color-white;
    margin: 2px 0;
    position: absolute;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    top: -10px;
}

.header__nav ul li {
    margin-right: 30px;
}

.header__nav li a {
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-paragraph;
    border-bottom: 2px solid transparent;
}

.header__nav li a:hover {
    border-bottom: 2px solid $color-white;
}