.section {
    
    &__second {
        background-color: $color-milk;
    }

    &__second .container {
        display: flex;
        flex-direction: column;
        padding: 65px 10px 95px 27px;
        text-align: left;
    }
    
    &__third .container {
        padding: 80px 40px;
        text-align: center;
    }
    

    &__third {
        background-image: linear-gradient(rgba(140, 79, 42, 0.3),
                rgba(140, 79, 42, 0.3)), url('../assets/learn_more.jpg');
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(140, 79, 42, 0.3);
    }
}

/* Medium screen devices (768px and above) */

.text__box {
    display: block;
}


