.btn {
    border: none;
    background-color: $color-btn;
    outline: none;
    cursor: pointer;

    &__more {
        max-width: 115px;
        margin-top: 40px;
        color: $color-white;
        text-transform: uppercase;
        font-family: $font-h1;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 5px 18px;
        border-radius: 20px;
        transition: transform 1s ease;
        transform-origin: left;

        &:hover {
            transform-origin: left;
            transform: rotateZ(15deg);
        }
    }

    &__play {
        margin-top: 85px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: $color-white;
        font-size: 52px;
        padding: 20px 35px;
        transition: all 0.5s ease-in;

        &:hover {
            color: #55C2D8;
            background-color: $color-white;
            transform: scale(.95);
        }
    }
}
