@keyframes stars {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        opacity: 0.8;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        opacity: 1;
    }
}

@keyframes big-stars {
    0% {
        opacity: 0.1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}


@keyframes move-stars {
    0% {
        transform: translate(-10px, -10px);
    }

    60% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-10px, -10px);
    }
}


// @media (min-width: 768px) {

//     @keyframes move-stars {
//         0% {
//             transform: translate(-50px, 10px);
//         }

//         60% {
//             transform: translate(-4px, 0);
//         }

//         100% {
//             transform: translate(-50px, 10px);
//         }
//     }

//     @keyframes big-stars {
//         0% {
//             opacity: 1;
//         }

//         60% {
//             opacity: 0.1;
//         }

//         100% {
//             opacity: 1;
//         }
//     }
// }
