.heading {

    &__primary {
        @include headingFont($font-h1, 48px, 700, 64px);

        &--white {
            color: $color-white;
        }

        &--black {
            color: $color-black-h1;
            text-align: left;
            max-width: 600px;
        }
    }

    &__secondary {
        @include headingFont($font-paragraph, 24px, 400, 32px);
        text-align: center;
        margin-top: 40px;
        
    }

    &__secondary--white {
        color: rgba($color-white, .7);   
    }

    &__secondary--black {
        color: $color-grey;
        text-align: left;
    }
}

.paragraph {
    font-family: $font-paragraph;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    flex: 0 1 46%;
}