
@media (min-width: 768px) {
  .heading__primary--black {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .heading__secondary--black {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .heading__secondary--white--360 {
    width: 370px;
  }
}

@media (min-width: 768px) {
  .paragraph {
    margin-top: 48px;
  }
}

@media (min-width: 768px) {
  .btn__more {
    margin-top: 51px;
  }
}

@media (min-width: 768px) {
  .btn__play {
    margin-top: 53px;
    width: 150px;
    height: 150px;
    font-size: 72px;
    padding: 35px 50px;
  }
}


@media (min-width: 768px) {
  .header {
    background-size: 1560px 1041px;
  }
 
  .header__star--1 {
    position: absolute;
    top: -89px;
    left: -41px;
    background: url("../assets/stars.png") 0 0 no-repeat;
    background-size: 939px 819px;
    background-position: right top;
    transform: translate(-70px, 10px);
    transition: transform 5s ease-in;
    -webkit-animation: stars 8s ease infinite, move-stars 8s ease-in-out infinite;
            animation: stars 8s ease infinite, move-stars 8s ease-in-out infinite;
  }
 
  .header__star--2 {
    position: absolute;
    top: 0;
    left: -1px;
    background: url(../assets/stars-3.png) 0 0 no-repeat;
    background-position: right;
    background-size: 575px 869px;
    -webkit-animation: big-stars 8s ease-in-out infinite;
            animation: big-stars 8s ease-in-out infinite;
  }
}

@media (min-width: 768px) {
    @-webkit-keyframes move-stars {
    0% {
      transform: translate(-50px, 10px);
    }
    60% {
      transform: translate(-4px, 0);
    }
    100% {
      transform: translate(-50px, 10px);
    }
  }

  @keyframes move-stars {
    0% {
      transform: translate(-50px, 10px);
    }
    60% {
      transform: translate(-4px, 0);
    }
    100% {
      transform: translate(-50px, 10px);
    }
  }

  @-webkit-keyframes big-stars {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes big-stars {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  .header__top {
    margin-top: 50px;
  }
}

/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
  
    .header__nav ul {
    display: flex;
  }
  .nav__toggle {
    display: none;
  }
}

/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
  .section__second .container {
    align-items: center;
    text-align: center;
    padding: 65px 20px 95px 20px;
  }

  .section__third {
    height: 637px;
  }

  .section__third .heading__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .text__box {
    display: flex;
    justify-content: space-between;
  }
}

/* Medium screen devices (768px and above) */
@media (min-width: 768px) {
  
    footer .container {
    padding: 37px 20px;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .address {
    margin-top: 0;
    text-align: left;
  }
  
  .mail {
    margin-top: 27px;
  }
  
  .copy__box {
    margin-top: 0;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=styles.css.map */