// @mixin backImage($image, $height: 802px, $bgPos: center center){ // 802px will be as a default state
//     background: url($image);
//     background-repeat: no-repeat;
//     background-position: $bgPos;
//     background-size: cover;
//     height: $height;
// }

@mixin headingFont($ffamily, $fsize, $fweight, $lheight ) {
    font-family: $ffamily;
    font-size: $fsize;
    font-weight: $fweight;
    line-height: $lheight;
} 

// @mixin media ($breakpoint) { //for media queries
  
//     @if $breakpoint == desktop {    
//     @media (min-width: 768px) {
//       @content;
//     }
//   }
// }