$color-btn: #55C2D8;
$color-white: #fff;
$color-bg-header: #0b0b67;
$color-grey: #666;
$color-black-h1: #464547; 
$color-milk: #eee;

$font-h1: 'Oswald', sans-serif;
$font-paragraph: 'Source Sans Pro', sans-serif;
